@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden; /* Hide the scrollbar for the whole page */
}
.container {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg {
  background: #2c275d;
}
.Btn {
  background: #168e8c;
}
